<ion-header>
  <ion-toolbar>
    <ion-title> LOGIN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">Login</p>
  </div>

  <ion-card>
    <ion-item>
      <ion-label class="texto" position="stacked">Nombre</ion-label>
      <ion-input class="subtexto"[(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="texto" position="stacked">Contraseña</ion-label>
      <ion-input class="subtexto"[(ngModel)]="contrasenya"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button [routerLink]="['/home', nombre]" routerDirection="forward">Iniciar sesión</ion-button>


</ion-content>

