<ion-header>
  <ion-toolbar>
    <ion-title>Elige que tipo de producto quieres insertar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--Código AE10 heredado de AE8-->
<div class="ion-padding"> {{MuestraImagenCategoria()}}

    <img [src]="urlImagen" >
   
    <ion-item> 
      <ion-label>Categoría</ion-label>
      <ion-select interface="popover" placeholder="Elige una" [(ngModel)] = "option"> 
        <ion-select-option value="T">Tecnologia</ion-select-option>
        <ion-select-option value="H">Hogar</ion-select-option>
        <ion-select-option value="I">Inmobiliaria</ion-select-option>
        <ion-select-option value="M" >Motor</ion-select-option>
      </ion-select>
    </ion-item>
    



  

      
  <!--formulario de TECNOLOGIA-->
  <div *ngIf = "option == 'T'">   

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "categoria">
        <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
        <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Motor">Motor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Estado del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "estado">
        <ion-select-option value="Perfecto estado">Perfecto estado</ion-select-option>
        <ion-select-option value="Usado">Usado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precio"></ion-input>
    </ion-item>
 
    <ion-button color="primary" (click)="insertarTec(); ; restauraDatos()">Añadir producto</ion-button>
  </div>







  <!--formulario de HOGAR-->
  <div *ngIf = "option == 'H'">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "categoria">
        <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
        <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Motor">Motor</ion-select-option>
      </ion-select>
    </ion-item>
                
    <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="precio"></ion-input>
    </ion-item>
      
    <ion-button color="primary" (click)="insertarHom(); ; restauraDatos()">Añadir producto</ion-button>

  </div>







      <!--formulario de INMOBILIARIA-->
  <div *ngIf = "option == 'I'">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "categoria">
        <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
        <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Motor">Motor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Estado del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "estado">
        <ion-select-option value="T">Perfecto estado</ion-select-option>
        <ion-select-option value="H">Usado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Localidad</ion-label>
      <ion-input [(ngModel)]="localidad"></ion-input>
    </ion-item>
          
    <ion-item>
      <ion-label position="floating">Metros cuadrados</ion-label>
      <ion-input type="number" [(ngModel)]="metros"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número habitaciones</ion-label>
      <ion-input type="number" [(ngModel)]="habitaciones"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número baños</ion-label>
      <ion-input type="number" [(ngModel)]="banyos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precio"></ion-input>
    </ion-item>
      
    <ion-button color="primary" (click)="insertarInm(); restauraDatos()">Añadir producto</ion-button>

  </div>





      <!--formulario de MOTOR-->
  <div *ngIf = "option == 'M'">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "categoria">
        <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        <ion-select-option value="Hogar">Hogar</ion-select-option>
        <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
        <ion-select-option value="Motor">Motor</ion-select-option>
      </ion-select>
    </ion-item>
        
      
    <ion-item>
      <ion-label>Estado del producto</ion-label>
      <ion-select placeholder="" [(ngModel)] = "estado">
        <ion-select-option value="Coche">Coche</ion-select-option>
        <ion-select-option value="Moto">Moto</ion-select-option>
      </ion-select>
    </ion-item>

  
    
    <ion-item>
      <ion-label position="floating">Km</ion-label>
      <ion-input type="number" [(ngModel)]="km"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" [(ngModel)]="anyo"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precio"></ion-input>
    </ion-item>

    <ion-button color="primary" (click)="insertarMot(); ; restauraDatos()">Añadir producto</ion-button>
     
  </div>


  <!--Botón para volver al menú principal-->
  <ion-button routerLink="/home" routerDirection="forward">Volver</ion-button>


</div>


  

    




</ion-content>
